{{define "tasks_content"}}
    <div class="tasks-container">
        {{if .Tasks}}
            <table class="tasks-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>GTIN</th>
                    <th>Дата</th>
                    <th>Партия</th>
                    <th>Кол-во кодов</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {{range .Tasks}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>{{.GTIN}}</td>
                        <td>{{.Date}}</td>
                        <td>{{.BatchNumber}}</td>
                        <td>{{.TotalCodes}}</td>
                        <td>
                            <a href="/tasks/{{.ID}}" class="btn btn-view">Просмотр</a>
                            <a href="/tasks/{{.ID}}/start" class="btn btn-start">Начать</a>
                        </td>
                    </tr>
                {{end}}
                </tbody>
            </table>
        {{else}}
            <div class="no-tasks">
                <p>Нет доступных заданий. Поместите файл OUT_MARK_*.xml в директорию для входящих файлов.</p>
            </div>
        {{end}}
    </div>
{{end}}